.admin-page {

}

.admin-page .parent {
    display: flex;
}

section.products {
    flex: 3;
}

section.coupons {
    flex: 2;
}


.my-control {
    display: block;
    margin-bottom: 10px;
}

.my-control label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.my-control input {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    padding: 5px;
}